{% with budget_result=voting_round.budget_result %}
    {% if voting_round %}
        <details {% if voting_round.is_active_or_last %}open{% endif %}>
            <summary role="button" class="{% if voting_round.is_complete %}{% if budget_result.success %}pico-background-green{% else %}pico-background-red{% endif %}{% else %}pico-background-blue{% endif %}">Runde {{ voting_round.round_number }}</summary>
            {% for vote in voting_round.votes.all %}
                <article class="vote">
                    <header class="{% if vote.amount < vote.voting_round.voting.average_contribution_target %}pico-background-yellow{% else %}pico-background-green{% endif %}"># {{ vote.member_id }}</header>
                    <p>{{ vote.amount|floatformat:"2g" }} €</p>
                </article>
            {% endfor %}
            <table>
                <tfoot>
                <tr>
                    <td>Zwischensumme</td>
                    <td></td>
                    <td class="currency">{{ budget_result.vote_sum|floatformat:"2g" }} €</td>
                </tr>
                <tr>
                    <td>Summe Richtwerte</td>
                    <td>({{ budget_result.average_participants }} x {{ budget_result.average_contribution_target|floatformat:"2g" }} €)</td>
                    <td class="currency">{{ budget_result.average_sum|floatformat:"2g" }} €</td>
                </tr>
                <tr>
                    <td><b>Summe</b></td>
                    <td></td>
                    <td class="currency {% if budget_result.success %}pico-color-green{% else %}pico-color-red{% endif %}">{{ budget_result.result|floatformat:"2g" }} €</td>
                </tr>
                <tr>
                    <td>Differenz</td>
                    <td></td>
                    <td class="currency {% if budget_result.success %}pico-color-green{% else %}pico-color-red{% endif %}">{{ budget_result.difference|floatformat:"2g" }} €</td>
                </tr>
                </tfoot>
            </table>
            <a role="button" class="secondary button-wide pico-background-blue" href="{% url "voting:export" voting_id=voting_round.voting.id round_id=voting_round.id %}" target="_blank" {% if not active_round.is_complete %}disabled{% endif %}>Ergebnis exportieren</a>
        </details>
    {% endif %}
{% endwith %}
