<article>
    {% with voting.active_round as active_round %}
        <header class="pico-background-{% if active_round %}green{% else %}sand{% endif %}">Runden</header>
        <table>
            <thead>
            <tr>
                <th>Runde</th>
                <th>Status</th>
                <th>Budget</th>
                <th>Ziel erreicht</th>
                <th></th>
            </tr>
            </thead>
            {% for round in voting.rounds.all %}
                {% with round.budget_result as budget_result %}
                <tr class="pico-background-blue">
                    <td>{{ round.round_number }}</td>
                    <td>
                        {% if round.active %}
                            <progress value="{{ round.local_vote_count }}" max="{{ round.voting.local_voter_count }}"></progress>
                            {{ round.percent_complete_local|floatformat:0 }} %
                            <small><br>({{ round.votes.count }} / {{ round.voting.voter_count }} = {{ round.percent_complete|floatformat:0 }} %)</small>
                        {% else %}
                            <i class="bx bx-check pico-color-cyan"></i>
                        {% endif %}
                    </td>
                    <td>{% if round.is_complete %}{{ budget_result.result | floatformat:"2g" }} €{% endif %}</td>
                    <td>
                        {% if round.is_complete %}
                            <b><i class="bx {% if not budget_result.success %}bx-x-circle pico-color-red{% else %}bx-check-circle pico-color-green{% endif %}"></i></b>
                        {% endif %}
                    </td>
                    <td>
                        {% if round.is_complete %}
                            {% if budget_result.success %}
                                <small>Durchschnitts&shy;beitrag: <span class="pico-color-green">{{ budget_result.average_contribution_voters|floatformat:"2g" }} €</span></small>
                            {% else %}
                                <small>Fehlbetrag: <span class="pico-color-red">{{ budget_result.difference | floatformat:"2g" }} €</span></small>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endwith %}
            {% endfor %}
        </table>

    {% endwith %}
</article>
