DOMAIN=mydomain.xyz
LETSENCRYPT_EMAIL=admin@mydomain.xyz

CREATE_VOTING_ACCESS_CODE=somesecurecode
WEBLING_API_KEY=enter-key-here

# Number of web workers
WEB_CONCURRENCY=20

# Number of queue workers
WORKER_CONCURRENCY=3

# To enable the Caddy reverse proxy uncomment the following line
#COMPOSE_PROFILES=proxy

# Location of data files, default: ./data
#DATA_DIR=
