{% extends "voting/voting_base.html" %}
{% load qr_code %}
{% load voting %}
{% block page-title %}{{ voting.name }} - {% endblock %}
{% block content %}
    {{ block.super }}
    <div class="grid grid-2-1">
        <div>
            <div id="vote-info">
                {% voting_info voting %}
            </div>
            <div id="round-info" hx-get="{% url "voting:info" voting_id=voting.id %}" hx-trigger="every 1s">
                {% round_info voting %}
            </div>
        </div>
        <div>
            <article>
                <header class="pico-background-slate">
                    Link zur Abstimmung
                </header>
                {% url "voting:vote" voting_id=voting.id as vote_url %}
                {% with vote_url_full=request.scheme|add:"://"|add:request.get_host|add:vote_url %}
                <a href="{{ vote_url }}" class="vote-qr">
                    <div class="only-light">
                        {% qr_from_text vote_url_full size="20" version=5 dark_color="black" light_color=None %}
                    </div>
                    <div class="only-dark">
                        {% qr_from_text vote_url_full size="20" version=5 dark_color="white" light_color=None %}
                    </div>
                </a>
                {% endwith %}
            </article>
        </div>
    </div>
{% endblock %}
