{% extends "voting/voting_base.html" %}
{% load voting %}
{% block page-title %}{{ voting.name }} - {% endblock %}
{% block content %}
    {{ block.super }}
    <div class="grid grid-2-1">
        <div>
            {% voting_info voting %}
            <article>
                <header class="pico-background-slate">Fern-Gebote</header>
            </article>
        </div>
        {% with active_round=voting.active_or_last_round %}
        <div id="buttons">
            {% include "voting/fragments/manage_buttons.html" %}
        </div>
        {% endwith %}
    </div>
    <section hx-get="{% url "voting:manage" voting_id=voting.id %}" hx-trigger="every 1s">
        {% include "voting/fragments/manage_voting_round_info.html" %}
    </section>
    <dialog></dialog>
{% endblock %}
